@charset "UTF-8";

.grume-list-total-box {min-height: 674px;}
.grume-list-inner-frame {width: 1080px; margin: 0 auto; padding-top: 30px;}
.grume-list-tabel-box > table {width: 100%;}
.list-img-in {width: 320px;}